<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2016 Rails1o4
        <br>Design by
        <a href="http://courses.growthschool.com/courses/rails-04/" target=_new>xdite</a>
    </p>
</footer>
